body {
  background-image: url('/rugby-bg.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  color: #000;
}

h1 {
  color: #000;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

#result-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.note {
  font-size: 0.8rem;
  font-style: italic;
}
